.pic{
    display: inline;
    
    
}
img{
    height: 350px;
    width: 30%;
    border: 2px solid red;
    border-radius: 30px;
    margin: 21px;
    
}
h1{
    text-align: center;
    color: forestgreen;
    background-color: aqua;
    padding: 20px;
    border: 20px dashed rebeccapurple;
    font-size: 50px;
    border-radius: 25px;
}
html{
    background-color: rgb(255, 170, 255);
}
h3{
    color: rgb(0, 4, 255);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
small{
    color: rgb(1, 117, 78);
}
p{
    text-align: center;
    color: purple;
    background-color: chartreuse;
    padding: 20px;
    border: 2px solid green;
    border-radius: 100px;
    
}